.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-md);
}

.headerSection {
  padding-top: calc(var(--navbar-height) + var(--space-xl));
}

@media (max-width: 760px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
